
.button {
    position: relative;
    /* letter-spacing: .2em; */
    background: #1f4037; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #99f2c8, #1f4037); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #99f2c8,
        #1f4037
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 5em;
    overflow: hidden;
}

.water{
    background-color: white;
    position: absolute;
    animation: water 1s infinite;
    border-radius: 5em;
    transform: translate(-50%,-50%);
}

@keyframes water{
    from{
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    to{
        /* 设置波纹够大以覆盖按钮 */
        width: 20em;
        height: 10em;
        opacity: 0;
    }
}